.box {
    display: flex;
    flex-direction: column;
    width: 720px;
    align-items: center;
    z-index: 1000;
}

.image {
    width: 480px;
    height: 240px;
}

.details {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    max-width: 520px;
    list-style: none;
}

.detail {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}

.title {
    margin-right: auto;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}