.card {
    position: relative;
    width: 272px;
    height: 208px;
    background-color: #131316;
}

.cardImage {
    width: 240px;
    height: 120px;
}

.priceElement {
    display: flex;
    justify-content: center;
}

.cardTitle {
    text-align: center;
}